$color-main: #344a5f;
$color-second: #f56c6c;
$color-third: #f5f5f5;

@mixin webkit($type, $value){
  -webkit-#{$type}: $value;
  -moz-#{$type}: $value;
  -o-#{$type}: $value;
  -ms-#{$type}: $value;
  #{$type}: $value;
}