// 专门用于修改elementUI的相关样式
.el-menu {

  i,.el-submenu__title, .el-menu-item {
    color: white;
  }

  .el-submenu__title {
    //font-size: 16px;

    &:hover {
      background-color: $color-second;
    }
  }


  .el-submenu {
    background-color: $color-main;

    .el-menu-item {
      &.is-active {
        background-color: rgba(245, 100, 108, .2) !important;
        //font-size: 16px;
        @include webkit(transition, all .2s ease 0s);
      }
    }
  }

  .el-menu--inline {
    background-color: #2f4357;

    .el-menu-item:hover {
      background-color: rgba(245, 100, 108, .2);
    }
  }

}